*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Andoid";
    src: url("fontes/idroid.otf") format(opentype);
    font-weight: normal;
}

:root{
    --cor0:#9EFFF8;
    --cor1:#9EC8FF;
    --cor2:#9EE7FF;
    --cor3:#9EFFD7;
    --cor4:#9EAAFF;
    --cor5:#D8F5FF;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "Andoid", cursiva;
}

body{
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4), var(--cor3));
    text-align: center;
    height: 150px;
    padding-top: 40px;
}

header h1{
    font-family: var(--fonte-destaque);
    color: #D8F5FF;
    font-size: 55px;
    text-shadow: 5px 5px 5px black;
}

header p{
    color: black;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    width: 500px;
    margin: auto;
}

nav{
    background-color: #9EAAFF;
    box-shadow: 6px 6px 5px rgb(0, 0, 0);
}

nav a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

nav a:hover{
    background-color: var(--cor0);
}

main{
    min-width: 800px;
    max-width: 500px;
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 4px 19px 16px 2px rgb(0, 0, 0);
}

main h1{
    font-family: var(--fonte-android);
    color: var(--cor4);
}

main p{
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 20px;
    margin: 20px;
}

main strong{
    color: var(--cor2);
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main a{
    text-decoration: none;
    color: var(--cor4);
    background-color: var(--cor2);
    font-weight: bold;
    padding: 3px 7px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor5);
}

main img{
    width: 100%;
}

.pequena{
    width: 50%;
    display: block;
    margin: auto;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\1F5F8\00A0\00A0';
}

footer{
    background-color: var(--cor02);
    padding: 10px;
    color: black;
    text-align: center;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor01);
}

.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
}

div.video > iframe{
    top: 5%;
    left: 5%;
    height: 90%;
}